{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if articles_title %}
    <title>{{articles_title}}</title>
    {% else %}
    <title>{{id}}</title>
    {% endif %}
    
</head>

    <!-- Content block -->
    {% block content %}

    <div class="container">

        <ul>
            {% for article in read_article %}
            <h3>
                <li>{{article.title}}</li>
            </h3>
            <hr>
            <li>{{article.description}}</li>
            <a href=""><li>{{article.url}}</li></a>
            <img src="{{article.urlToImage}}" alt="No image for this article">
            <li>Published on : {{article.date}}</li>
            {% endfor %}
        </ul>
    
    </div>
    {% endblock %}
        
    
</html>